body {
  font-family: 'Open Sans', sans-serif;
}

.merry {
  font-family: 'Merriweather', serif;
}

.navbar {
  background: ;
}

.header {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: ;
  width: 100%;
  padding-top: 29em;
}

.p {
  line-height:
}

.iconos i {
  text-decoration: none;
  color: #ffffff;
}

.footer {
font-size: 3em;

}

.carousel i {
  font-size: 5em;

}

#sobremi {
  padding-top: 1em;
}
